<form id="new_login_form" method="post">
  <p>Username: <input type="text" name="user[username]" /></p>
  <p>Password: <input type="password" name="user[password]" /></p>
  <button type="submit" id="login" value = "Log In" class="btn btn-primary">Log In</button>
</form>
