<div class="page-header">
  <h1>Internal Server Error <small>500</small></h1>
</div>

<p class="lead">Oops, something went wrong. Here's some debugging information:</p>

<textarea id="error_details" class="error-details form-control" rows="10" readonly="readonly"><%=h @error_details %></textarea>

<p>Please create a <a href="https://github.com/michenriksen/gitrob/issues/new" target="_blank">new issue</a> on GitHub and paste the above details into the description. Thanks!</p>
